{% load i18n %}
{% autoescape off %}
Hello,

You're receiving this email because you requested a password reset for your e-Class Attendance System account.

Please go to the following page and choose a new password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.get_username }}

If you didn't request this password reset, you can safely ignore this email.

Thanks for using our system!

The e-Class Attendance Team

{% endautoescape %}